@charset "UTF-8";
body {
    font-family: noto-serif, serif;
    font-weight: 400;
    font-style: normal;
}
img {
    display: block;
}
.topView {
    position: relative;
}
.nav_ul {
    display: flex;

    li {
        padding: 12px;
    }
}
.topView {
    display: flex;
    height: 100vh;
}
.topView_left,.topView_right {
    width: 50%;
}
.topView_left {
    text-align: center;
    height: fit-content;
    background-color: #EAF3F3;
    img {
        height: 100vh;
        margin: 0 auto;
    }
}
.topView_right {
    padding-left: 8vw;
}
.topView_right_item {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;

    .texts {
        width: 100%;
        letter-spacing: 2px;
        line-height: 1.8rem;
        h1 {
            font-size: 3.5rem;
            letter-spacing: .5rem;
            margin: 50px 0;
            font-weight: 600;
        }
        h2 {
            letter-spacing: .2rem;
            margin-bottom: 10px;
            font-weight: 500;
        }
    }
}

//ここからworks//
.works {
    text-align: center;
    h2 {
        margin: 60px 0 50px 0;
        font-size: 2rem;
        text-align: center;
    }
    *,
    *:before,
    *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

.btn,a.btn {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 3rem 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 35px;
}
a.btn-flat {
    overflow: hidden;
    padding: .8rem 3.2rem;
    color: #000;
    border: solid;
    border-radius: 35px;
    background: #fff;
}

a.btn-flat span {
    position: relative;
}

a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 150%;
    height: 500%;

    content: "";
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);

    background: #000;
    }

    a.btn-flat:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    .btn:hover {
    color: #FFF;
    }
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    img {
        width: 75%;
        height: auto;
    }
    /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
    .slick-slide {
        margin: 0;/*スライド左右の余白調整*/
    }
}

// footer //
footer{
    height: 100px;
    background-color: #efefef;
  }
  .footerIcon_box{
    display: flex;
    justify-content: center;
  }
  .footerIcon{
    padding:  25px 20px 10px 20px;
  }
  .footerIcon a{
    color: #555;
  }
  .footer_text{
    text-align :center;
    font-size: 12px;
  }

.main_logo {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    height: 186px;
    width: 186px;
    border-radius: 50%;
    background-color: #FFF;
}

