@charset "UTF-8";
img {
    display: block;
}
.nav_ul {
    display: flex;

    li {
        padding: 12px;
    }
}
.topView {
    display: flex;
    height: 100vh;
}
.topView_left,.topView_right {
    width: 50%;
}
.topView_left {
    text-align: center;
    img {
        height: 100vh;
        margin: 0 auto;
    }
}
.topView_right {
    padding-left: 8vw;
}
.topView_right_item {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;

    .texts {
        width: 100%;
    }
    .texts h1 {
        font-size: 3rem;
        margin: 50px 0;
    }
}