@charset "UTF-8";
.nav_ul {
    display: flex;

    li {
        padding: 12px;
    }
}
.topView {
    display: flex;
    height: 100vh;
}
.topView_left,.topView_right {
    width: 50%;
}
.topView_left {
    text-align: center;
    height: fit-content;
    img {
        
    }
}
.topView_right {
    padding-left: 8vw;
}
.topView_right_item {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;

    .texts {
        width: 100%;
    }
    .texts h1 {
        font-size: 3rem;
        margin: 50px 0;
    }
}

// footer //
footer{
    height: 100px;
    background-color: #efefef;
  }
  .footerIcon_box{
    display: flex;
    justify-content: center;
  }
  .footerIcon{
    padding:  25px 20px 10px 20px;
  }
  .footerIcon a{
    color: #555;
  }
  .footer_text{
    text-align :center;
    font-size: 12px;
  }